[Desktop Entry]
Version=1.0
Name=Liri Files
GenericName=File Manager
Comment=Access and organize files
Keywords=folder;manager;explore;disk;filesystem;
Exec=liri-files
Icon=system-file-manager
Terminal=false
Type=Application
StartupWMClass=liri-files
Categories=X-Liri;Qt;Utility;Core;FileManager;


# Translations
Icon[pl]=system-file-manager
Name[pl]=Pliki Liri
Comment[pl]=Uzyskaj dostęp i organizuj pliki
GenericName[pl]=Menedżer Plików
