[Desktop Entry]
Categories=X-Liri;Qt;Utility;Core;FileManager;
Comment=Access and organize files
Comment[ar]=صل للملفات و نظمها
Comment[da]=Tilgå og organiser filer
Comment[fr]=Gestion et accès aux fichiers
Comment[lt]=Gauti prieigą prie failų ir juos tvarkyti
Comment[nl]=Verkrijg toegang tot en beheer u bestanden
Comment[pl]=Uzyskaj dostęp i organizuj pliki
Comment[pt_BR]=Acesse e organize arquivos
Comment[ru]=Управляйте файлами
Comment[zh_CN]=访问和组织文件
Comment[zh_TW]=取得與管理檔案
Exec=liri-files
GenericName=File Manager
GenericName[ar]=مدير الملفات
GenericName[da]=Filhåndtering
GenericName[fr]=Gestionnaire de fichiers
GenericName[lt]=Failų tvarkytuvė
GenericName[nl]=Bestandsbeheer
GenericName[pl]=Menedżer Plików
GenericName[pt_BR]=Gerenciador de arquivos
GenericName[ru]=Файловый менеджер
GenericName[zh_CN]=文件管理
GenericName[zh_TW]=檔案總管
Icon=system-file-manager
Keywords=folder;manager;explore;disk;filesystem;
Name=Liri Files
Name[ar]=ملفات ليري
Name[da]=Liri-filer
Name[fr]=Fichiers Liri
Name[lt]=Liri failai
Name[nl]=Liri Bestanden
Name[pl]=Pliki Liri
Name[pt_BR]=Liri Files
Name[ru]=Liri Файлы
Name[zh_CN]=Liri文件管理
Name[zh_TW]=Liri 檔案總管
StartupWMClass=liri-files
Terminal=false
Type=Application
Version=1.0
